footer {
  width: 100%;
  text-align: center;
  background-color: rgb(4, 10, 19); /* Opaque dark color */
  color: white;
  padding: 15px 10px;
  font-size: 14px;
  position: relative;
  bottom: 0;
}


footer p {
  margin: 0;
  font-weight: 300;
  letter-spacing: 0.5px;
}

@media (max-width: 768px) {
  footer {
    font-size: 12px; /* Adjust font size for smaller screens */
    padding: 10px;
  }
}
